{% extends "music/index.html" %}

    {%block title%} - Delete Song  {%endblock%}

    {%block body%}
    <style>
        .main_div{
            margin-top:-50px !important;
        }
    </style>
    <div class="container">
    
        <div class="row ">
            <h1 class="mt-3 border-bottom text-warning">Delete Song :- {{form.song_name}}<h1>
            <div class="main_div">

            <h1>Are You sure !!!!</h1>
            <form method="POST" enctype="multipart/form-data">
                <!-- csrf token -->
                {% csrf_token %}
                <button class="btn btn-success" type="submit" value='Submit' >Confirm Delete</button>
                <a href="{%url 'music:viewsong'%}" class="btn btn-danger" >Cancel Delete</a>
            </form>

        </div>
    </div>


</div>

    {%endblock%}